@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* #####INCASE OF RESPONSIVE ERROR REPLACE 630px media queries with 610px Here And In JavaScript File*/

/* USE THIS FOR IMAGES
  img {
    max-width: 100%
    line-height: 0;
    display: block;
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  /* border-color: theme("borderColor.DEFAULT", currentColor); 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: theme(
    "fontFamily.sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  ); /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: theme(
    "fontFamily.mono",
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace
  ); /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  /* color: theme("colors.gray.400", #9ca3af); 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

:root {
  /* ## Colors

### Primary */

  --Orange: hsl(26, 100%, 55%);
  --Paleorange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --Veryvarkblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --LightBlack: rgba(0, 0, 0, 0.7);

  /* (with 75% opacity for
lightbox background) */

  /* ## Typography */

  /* ### Body Copy */

  --Fontsize-p: 16px;
  --p1: calc(0.9rem + 0.5vw);
  --p2: calc(0.7rem + 0.5vw);
  --p-new-item-text: calc(0.85rem + 0.5vw);
  --h1: calc(2.3rem + 1vw);
  --h2: calc(1.3rem + 1vw);
  --h3: calc(1.2rem + 1vw);
  --gap-1: calc(2rem + 1vw);
  --gap-2: calc(1rem + 1vw);
  --image-width: calc(25rem + 5vw);
  --image-height: calc(20rem + 5vw);
  --image-width-light: calc(28rem + 5vw);
  --image-height-light: calc(23rem + 5vw);
  --profile-pic: calc(1.5rem + 2vw);
  --container-width: 90vw;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  user-select: none;
}

/* .modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
} */

html {
  font-size: 16px;
}

body {
  display: flex;
  /* min-height: 100vh;
  height: 100vh; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(white);
}

body.no-scrolling {
  height: 100%;
  overflow: hidden;
}

button {
  border: none;
  outline: 0;
}

/* .container {
  width: 90vw;
  max-width: 1500px;
  height: 100%;
  padding: 1rem 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1rem;
} */

.container {
  width: var(--container-width);
  max-width: 1500px;
  height: 100%;
  padding: 1rem 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1rem;
  position: relative;
  padding-top: 7rem;
}

@media (max-width: 950px) {
  /* .container {
    width: 95vw;
  } */
  :root {
    --container-width: 95vw;
  }
}

@media (max-width: 910px) {
  /* .container {
    width: 100vw;
  } */
  :root {
    --container-width: 100vw;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 1rem 1rem 0;
    padding-top: 7rem;
  }
}

@media (max-width: 630px) {
  .container {
    padding: 1rem 2rem 0;
    padding-top: 5rem;
    gap: 0;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 1rem;
    padding-top: 5rem;
  }
}

/* .Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--Grayishblue);
  padding-bottom: 1rem;
  position: sticky;
  z-index: 10;
} */

.Header {
  display: flex;
  justify-content: space-between;
  width: var(--container-width);
  max-width: 1600px;
  border-bottom: 1px solid var(--Grayishblue);
  padding-bottom: 1rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--White);
  padding-top: 1rem;
}

/* Code to test Fixed NavBar */
@media (max-width: 910px) {
  .Header {
    padding: 1rem 1rem;
  }
}
/* #################### */

@media (max-width: 630px) {
  .Header {
    border-bottom: 0;
  }
}

@media (max-width: 450px) {
  .Header {
    width: 100vw;
  }
}

.Nav {
  display: flex;
  gap: var(--gap-1);
  align-items: center;
  position: relative;
  z-index: 10;
}

@media (max-width: 450px) {
  .Nav {
    gap: 1rem;
  }
}

@media (max-width: 310px) {
  .Nav {
    gap: 0.5rem;
  }
}

.menu {
  display: none;
  padding: 0 0.5rem;
}

@media (max-width: 630px) {
  .menu {
    display: flex;
    align-items: center;
  }
}

.menu-icon {
  height: max-content;
}

.hasHover .menu-icon:hover {
  cursor: pointer;
}

.nav-list {
  display: flex;
  gap: var(--gap-2);
  list-style-type: none;
  align-items: flex-start;
  padding-bottom: 0.1rem;
}

@media (max-width: 630px) {
  .nav-list {
    display: none;
  }
}

.nav-links a {
  text-decoration: none;
  color: var(--LightBlack);
  padding-bottom: 1.9rem;
}

@media (max-width: 820px) {
  .nav-links a {
    padding-bottom: 1.7rem;
  }
}

.hasHover .nav-links a:hover,
.nav-links a:focus {
  font-weight: 700;
  border-bottom: 3px solid var(--Orange);
  color: black;
}

.cart {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 120%;
  right: 0%;
  min-height: 150px;
  width: 350px;
  background-color: var(--White);
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.2),
    -15px 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

@media (max-width: 630px) {
  .cart {
    top: 150%;
    right: 150%;
    width: 300px;
    border-radius: 10px;
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .cart {
    min-height: 250px;
    min-width: 400px;
  }
}

.cart.active {
  display: flex;
}

.cart.small-screen {
  display: none;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 630px) {
  .cart.large-screen {
    display: none;
  }

  .cart.small-screen.active {
    display: flex;
  }
}

@media (max-width: 450px) {
  .cart.small-screen {
    top: 1.2rem;
    width: 70vw;
    height: calc(var(--image-height) * 0.9);
  }
}

@media (max-width: 425px) {
  .cart.small-screen {
    width: 75vw;
  }
}

@media (max-width: 375px) {
  .cart.small-screen {
    width: 80vw;
  }
}

@media (max-width: 350px) {
  .cart.small-screen {
    width: 85vw;
  }
}

@media (max-width: 325px) {
  .cart.small-screen {
    width: 90vw;
  }
}

@media (max-width: 310px) {
  .cart.small-screen {
    width: 95vw;
  }
}

@media (max-width: 290px) {
  .cart.small-screen {
    width: 100vw;
  }
}

.cart h3 {
  height: auto;
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--Grayishblue);
}

.empty-cart {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-items {
  min-height: 150px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* #cart-items-small-screen {
  justify-content: flex-start;
  align-items: flex-start;
} */

.item-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: auto;
}

.cart-item-top {
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1450px) {
  .cart-item-top {
    gap: 0.6rem;
  }
}

@media (max-width: 275px) {
  .cart.small-screen .cart-item-top {
    justify-content: center;
    gap: 0.5rem;
  }
}

@media (max-width: 260px) {
  .cart.small-screen .cart-item-top {
    justify-content: space-between;
    gap: 0.5rem;
  }
}

.item-image {
  height: 4rem;
  width: 4rem;
  background-size: 100% 100%;
  border-radius: 5px;
}

.new-item-text-content {
  color: var(--LightBlack);
  font-size: var(--p1);
}

.cart.small-screen .new-item-text-content {
  font-size: var(--p-new-item-text);
}

@media (min-width: 1070px) {
  .new-item-text-content {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  .new-item-text-content {
    font-size: 19px;
  }
}

@media (min-width: 1500px) {
  .new-item-text-content {
    font-size: 20px;
  }
}

.new-item-title {
  margin-bottom: 0.2rem;
}

.bold {
  font-weight: 700;
  color: black;
}

.delete-icon {
  height: var(--p2);
  width: var(--p2);
}

@media (min-width: 1450px) {
  .delete-icon {
    height: 18px;
    width: 18px;
  }
}

.hasHover .delete-icon:hover {
  cursor: pointer;
}

.cart-item-button {
  padding: 0.75rem;
  background-color: var(--Orange);
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: var(--White);
}

.hasHover .cart-item-button:hover,
.cart-item-button:focus {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 630px) {
  .cart-item-button {
    padding: 1rem;
  }
}

.right-nav {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
  position: relative;
}

@media (max-width: 310px) {
  .right-nav {
    gap: 1rem;
  }
}

.cart-container {
  position: relative;
  top: 5px;
}

.notify-cart-count {
  position: absolute;
  top: -0.8rem;
  left: 0.7rem;
  background-color: var(--Orange);
  min-width: 1.75rem;
  padding: 0.1rem 0.5rem 0;
  width: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
}

.hasHover .notify-cart-count:hover {
  cursor: pointer;
}

.cart-icon {
  height: 1.5rem;
  outline: 0;
}

.hasHover .cart-icon:hover {
  cursor: pointer;
}

.hasHover .cart-icon:hover path {
  fill: black;
}

[data-cart="true"] path {
  fill: black;
}

.profile-pic {
  height: var(--profile-pic);
  width: auto;
}

.hasHover .profile-pic:hover {
  border: 2px solid var(--Orange);
  cursor: pointer;
  border-radius: 50%;
}

.Nav-mobile-container {
  display: none;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  z-index: 21;
}

.Nav-mobile-container.active {
  background-color: rgba(0, 0, 0, 0);
  animation: Nav-mobile-container 0.4s linear 0.1s 1 forwards;
}

@keyframes Nav-mobile-container {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.Nav-mobile {
  background-color: var(--White);
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  transform-origin: 0 0;
  transform: translateX(-100%);
  animation: nav-mobile 0.4s linear 0.1s 1 forwards;
}

@keyframes nav-mobile {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* .Nav-mobile.act .close-icon-mobile path {
  fill: var(--LightBlack);
} */

.close {
  padding: 0.4rem;
  display: inline-block;
  width: max-content;
  transform: translateX(-0.4rem);
}

.hasHover .close-icon-mobile:hover {
  cursor: pointer;
}

.hasHover .close-icon-mobile:hover path {
  fill: var(--Orange);
}

.nav-list-mobile {
  list-style-type: none;
  font-size: var(--p1);
  font-weight: 700;
}

.nav-links-mobile {
  margin-bottom: 1rem;
}

.nav-links-mobile a {
  text-decoration: none;
  color: black;
}

.hasHover .nav-links-mobile a:hover,
.nav-links-mobile a:focus {
  color: var(--Orange);
}

/* .active {
  display: flex;
}

.disabled {
  display: none;
} */

.Main {
  display: flex;
  gap: 4rem;
  padding-inline: 2rem;
}

@media (max-width: 825px) {
  .Main {
    gap: 3rem;
  }
}

/* @media (max-width: 960px) {
  .Main {
    gap: 3rem;
  }
} */

@media (max-width: 735px) {
  .Main {
    padding: 0;
  }
}

/* @media (max-width: 670px) {
  .Main {
    gap: 2rem;
  }
} */

@media (max-width: 675px) {
  .Main {
    gap: 2rem;
  }
}

@media (max-width: 630px) {
  .Main {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .Main {
    gap: 1rem;
  }
}

.left-main {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--gap-1);
  flex: 1;
  z-index: 1;
}

.left-main-light {
  display: none;
  /* position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh; */
  flex-direction: column;
  gap: var(--gap-1);
  flex: 1;
  /* z-index: 20;
  background-color: rgba(0, 0, 0, 0.8); */
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media (max-height: 550px) {
  .left-main-light {
    gap: 1rem;
  }
}

@media (max-height: 495px) {
  .left-main-light {
    padding: 6rem 0 1rem;
  }
}

@media (max-height: 415px) {
  .left-main-light {
    padding: 8rem 0 1rem;
  }
}

@media (max-height: 385px) {
  .left-main-light {
    padding: 3rem 0 1rem;
  }
}

@media (max-height: 340px) {
  .left-main-light {
    padding: 4rem 0 1rem;
  }
}

.left-main-light.active {
  display: flex;
}

.left-main-light.disabled {
  display: none;
}

[data-lightBox] {
  display: flex;
}

.main-image {
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.main-img {
  height: var(--image-height);
  border-radius: 1rem;
  display: block;
  width: var(--image-width);
  position: relative;
  z-index: -1;
}

@media (max-width: 630px) {
  .main-img {
    border-radius: 1rem;
  }
}

@media (max-width: 450px) {
  .main-img {
    border-radius: 0;
  }
}

.close-icon {
  position: absolute;
  right: 0;
  top: -2rem;
}

.hasHover .close-icon:hover {
  cursor: pointer;
}

.hasHover .close-icon:hover path {
  fill: var(--Orange);
}

.main-image-light {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1rem;
}

.main-img-light {
  height: var(--image-height-light);
  border-radius: 1rem;
  display: block;
  width: var(--image-width-light);
  position: relative;
  z-index: 20;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-height: 700px) {
  .main-img-light {
    height: calc(var(--image-height-light) * 0.9 - 5vh);
    width: calc(var(--image-width-light) * 0.9 - 5vh);
  }
}

@media (max-height: 590px) {
  .main-img-light {
    height: calc(var(--image-height-light) * 0.85 - 5vh);
    width: calc(var(--image-width-light) * 0.75 - 5vh);
  }
}

@media (max-height: 530px) {
  .main-img-light {
    height: calc(var(--image-height-light) * 0.8 - 5vh);
    width: calc(var(--image-width-light) * 0.7 - 5vh);
  }
}

@media (max-height: 385px) {
  .main-img-light {
    height: calc(var(--image-height-light) * 0.5 - 5vh);
    width: calc(var(--image-width-light) * 0.5 - 5vh);
  }
}

[data-show="false"] {
  display: none;
}

.slide {
  display: none;
  justify-content: center;
  position: absolute;
  top: 50%;
  padding: 0.75rem;
  background-color: var(--White);
  border-radius: 100%;
  height: auto;
}

@media (max-width: 450px) {
  .slide {
    display: flex;
  }
}

.slide-left {
  left: 5%;
}

.slide-right {
  right: 5%;
}

.hasHover .slide-left:hover {
  cursor: pointer;
}

.hasHover .slide-right:hover {
  cursor: pointer;
}

.hasHover .slide-left:hover path {
  stroke: var(--Orange);
}

.hasHover .slide-right:hover path {
  stroke: var(--Orange);
}

.slide-icon-right {
  position: relative;
  right: -50%;
  transform: translateX(-25%);
}

.slide-light {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  padding: 0.75rem;
  background-color: var(--White);
  border-radius: 100%;
  height: auto;
  z-index: 20;
}

@media (max-width: 450px) {
  .slide-light {
    display: flex;
  }
}

.slide-left-light {
  left: -5%;
}

.slide-right-light {
  right: -5%;
}

.hasHover .slide-left-light:hover {
  cursor: pointer;
}

.hasHover .slide-right-light:hover {
  cursor: pointer;
}

.hasHover .slide-left-light:hover path {
  stroke: var(--Orange);
}

.hasHover .slide-right-light:hover path {
  stroke: var(--Orange);
}

.slide-icon-right-light {
  position: relative;
  right: -50%;
  transform: translateX(-25%);
}

.thumbnails {
  display: flex;
  width: var(--image-width);
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

@media (max-width: 630px) {
  .thumbnails {
    padding: 0 1.5rem;
  }
}

@media (max-width: 450px) {
  .thumbnails {
    display: none;
  }
}

.thumb-container {
  width: calc(var(--image-width) / 4 - 10px);
  max-width: calc(var(--image-width) / 4 - 10px);
  height: calc(var(--image-width) / 4 - 10px);
  border-radius: 1rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center;
  position: relative;
  z-index: 2;
}

.hasHover .thumb-container:hover {
  cursor: pointer;
  filter: opacity(0.6);
}

@media (max-width: 630px) {
  .thumb-container {
    width: calc(var(--image-width) / 4 - 3rem);
    height: calc(var(--image-width) / 4 - 3rem);
  }
}

@media (max-width: 510px) {
  .thumb-container {
    width: calc(var(--image-width) / 4 - 2rem);
    height: calc(var(--image-width) / 4 - 2rem);
  }
}

.thumb-1 {
  background-image: url(./images/image-product-1-thumbnail.jpg);
}
.thumb-2 {
  background-image: url(./images/image-product-2-thumbnail.jpg);
}
.thumb-3 {
  background-image: url(./images/image-product-3-thumbnail.jpg);
}
.thumb-4 {
  background-image: url(./images/image-product-4-thumbnail.jpg);
}

.thumbnails-light {
  display: flex;
  width: var(--image-width-light);
  justify-content: space-between;
}

@media (max-width: 630px) {
  .thumbnails-light {
    padding: 0 0.5rem;
  }
}

@media (max-width: 450px) {
  .thumbnails-light {
    display: flex;
  }
}

@media (max-height: 700px) {
  .thumbnails-light {
    width: calc(var(--image-width-light) * 0.9 - 5vh);
  }
}

@media (max-height: 590px) {
  .thumbnails-light {
    width: calc(var(--image-width-light) * 0.75 - 5vh);
  }
}

@media (max-height: 460px) {
  .thumbnails-light {
    gap: calc(2vh);
    width: calc(var(--image-width-light) * 0.7 - 5vh);
  }
}

.thumb-container-light {
  width: calc(var(--image-width-light) / 4 - 10px);
  max-width: calc(var(--image-width-light) / 4 - 10px);
  height: calc(var(--image-width-light) / 4 - 10px);
  border-radius: 1rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center;
}

@media (max-height: 700px) {
  .thumb-container-light {
    width: calc(var(--image-width-light) * 0.9 * 0.27 - 5vh);
    height: calc(var(--image-width-light) * 0.9 * 0.27 - 5vh);
  }
}

@media (max-height: 590px) {
  .thumb-container-light {
    width: calc(var(--image-width-light) * 0.8 * 0.27 - 5vh);
    height: calc(var(--image-width-light) * 0.8 * 0.27 - 5vh);
  }
}

@media (max-height: 460px) {
  .thumb-container-light {
    height: calc(var(--image-width-light) / 5 - 5vh);
    width: calc(var(--image-width-light) / 5 - 5vh);
  }
}

.hasHover .thumb-container-light:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}

.thumb-container-light[data-active="true"] {
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  filter: opacity(1);
}

@media (max-width: 630px) {
  .thumb-container-light {
    width: calc(var(--image-width-light) / 4 - 3rem);
  }
}

@media (max-width: 510px) {
  .thumb-container-light {
    width: calc(var(--image-width-light) / 4 - 3rem);
  }
}

.thumb-1-light {
  background-image: url(./images/image-product-1-thumbnail.jpg);
}
.thumb-2-light {
  background-image: url(./images/image-product-2-thumbnail.jpg);
}
.thumb-3-light {
  background-image: url(./images/image-product-3-thumbnail.jpg);
}
.thumb-4-light {
  background-image: url(./images/image-product-4-thumbnail.jpg);
}

/* .thumb-container img {
  display: none;
  width: 110%;
  border-radius: inherit;
} */

[data-active="true"] {
  border: 3px solid var(--Orange);
  background-blend-mode: darken;
  filter: opacity(0.5);
}

.right-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(0.5 * var(--gap-1));
}

@media (max-width: 755px) {
  .right-main {
    gap: calc(var(--gap-1) * 0.4);
  }
}

@media (max-width: 630px) {
  .right-main {
    padding: 1rem 2rem;
  }
}

.product-text {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--gap-1));
}

@media (max-width: 755px) {
  .product-text {
    gap: calc(var(--gap-1) * 0.4);
  }
}

.company-name {
  color: var(--Orange);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-title {
  font-size: var(--h1);
  margin-bottom: 1rem;
}

@media (max-width: 755px) {
  .product-title {
    margin-bottom: 0.5rem;
  }
}

/* @media (max-width: 670px) {
  .product-title {
    margin-bottom: 0;
  }
} */

@media (max-width: 675px) {
  .product-title {
    margin-bottom: 0;
  }
}

.product-description {
  font-size: var(--p1);
  line-height: 1.5;
  color: var(--LightBlack);
}

.product-price {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--gap-2));
}

@media (max-width: 630px) {
  .product-price {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.price-real {
  display: flex;
  gap: calc(0.5 * var(--gap-2));
  align-items: center;
}

.price-tag {
  font-size: var(--h3);
}

.price-discount {
  padding: 0.6rem;
  color: var(--Orange);
  background-color: var(--Paleorange);
  border-radius: 5px;
  font-size: var(--p2);
}

.slash-price {
  font-size: var(--p1);
  color: var(--LightBlack);
  text-decoration: line-through;
}

.product-cart {
  display: flex;
  gap: 2rem;
}

@media (max-width: 960px) {
  .product-cart {
    gap: 1.5rem;
  }
}

@media (max-width: 825px) {
  .product-cart {
    flex-direction: column;
  }
}

/* @media (max-width: 960px) {
  .product-cart {
    flex-direction: column;
  }
} */

/* @media (max-width: 670px) {
  .product-cart {
    gap: 1rem;
  }
} */

@media (max-width: 675px) {
  .product-cart {
    gap: 1rem;
  }
}

.product-count {
  display: flex;
  padding: 1rem;
  background-color: var(--Lightgrayishblue);
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  border-radius: 10px;
  font-weight: 700;
  touch-action: manipulation;
}

.minus,
.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
  height: auto;
}

.minus {
  height: 21.5px;
}

.minus-sign,
.plus-sign {
  width: 1rem;
  height: auto;
  touch-action: manipulation;
}

.hasHover .minus:hover,
.hasHover .plus:hover {
  cursor: pointer;
  opacity: 0.5;
}

.minus-sign {
  height: 0.5rem;
  transform: translateY(25%);
}

.count-value {
  font-size: var(--p1);
}

.add-to-cart {
  display: flex;
  padding: 0 3rem;
  background-color: var(--Orange);
  border-radius: 1rem;
  box-shadow: 0 5px 10px 0 var(--Paleorange), 0 5px 10px 0 var(--Paleorange),
    0 10px 20px 0 var(--Paleorange), 0 10px 25px 0 var(--Paleorange),
    0 15px 30px 0 var(--Paleorange);
  align-items: center;
  gap: 1rem;
}

.hasHover .add-to-cart:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 1330px) {
  .add-to-cart {
    padding: 0 2rem;
  }
}

@media (max-width: 1000px) {
  .add-to-cart {
    padding: 0 1rem;
  }
}

@media (max-width: 960px) {
  .add-to-cart {
    padding: 0 1rem;
    font-size: calc(var(--p1) * 0.7);
    gap: 0.6rem;
  }
}

/* @media (max-width: 960px) {
  .add-to-cart {
    padding: 1rem 2rem;
    justify-content: center;
    gap: 2rem;
  }
} */

@media (max-width: 825px) {
  .add-to-cart {
    padding: 1rem 2rem;
    justify-content: center;
    gap: 2rem;
  }
}

.cart-bottom path {
  fill: var(--White);
}

.add-cart {
  font-size: var(--p1);
  color: var(--White);
}

.Footer {
  width: 100%;
  background-color: var(--Orange);
  height: max-content;
  padding: 1rem 1rem;
  text-align: center;
  font-size: var(--p1);
  color: white;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.Footer a {
  text-decoration: none;
}

.attribution {
  color: black;
  text-transform: uppercase;
}

.coder {
  padding: 0.5rem;
  background-color: var(--LightBlack);
  color: var(--Orange);
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1255px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1075px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 825px) {
  :root {
    --image-height: calc(23rem + 5vw);
    --image-width: calc(22rem + 5vw);
  }
}

/* @media (max-width: 960px) {
  :root {
    --image-height: calc(23rem + 5vw);
    --image-width: calc(22rem + 5vw);
  }
} */

/* @media (max-width: 670px) {
  :root {
    --image-height: calc(22rem + 5vw);
    --image-width: calc(20rem + 5vw);
  }
} */

@media (max-width: 675px) {
  :root {
    --image-height: calc(22rem + 5vw);
    --image-width: calc(20rem + 5vw);
  }
}

@media (max-width: 630px) {
  :root {
    --image-width: 90vw;
    /* --image-height: auto; */
  }
}

@media (max-width: 450px) {
  :root {
    --image-width: 100vw;
  }
}

@media (max-width: 260px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1550px) {
  :root {
    --p1: 22px;
    --p2: 19px;
    --h1: 53px;
    --h2: 24px;
    --h3: 35px;
    --profile-pic: 55px;
  }
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
}

.active {
  display: flex;
}

.disabled {
  display: none;
}
